<% @page_title = "Sign in - #{Rails.configuration.x.app_name}" %>

<main class="outer-container">
  <div class="inner-container">
    <div class="page-title-container">
        <svg width="49" height="49" viewBox="0 0 356 356" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M146.152 34.3454L178.06 3.02734L209.948 34.3454H146.152Z" fill="#9DD7FF"/>
          <path d="M127.29 3.1875H178.129L146.147 34.3508L103.109 23.3889L127.29 3.1875Z" fill="#3EA5DF"/>
          <path d="M228.969 3.1875H178.129L209.952 34.3534L253.301 23.5009L228.969 3.1875Z" fill="#BCE3FF"/>
          <path d="M79.5781 57.0409L103.115 23.3867L146.337 34.3955L97.5997 94.1505L79.5781 57.0409Z" fill="#006BBF"/>
          <path d="M276.602 57.0409L253.065 23.3867L209.962 34.346L258.706 93.8747L276.602 57.0409Z" fill="#9BD4F0"/>
          <path d="M156.127 54.0289L146.159 34.3555L97.6016 94.1468L156.127 54.0289Z" fill="#80CBF5"/>
          <path d="M200.053 54.0276L209.959 34.3438L258.699 93.8552L200.053 54.0276Z" fill="#CFF7FF"/>
          <path d="M200.176 54.0809H156.122L146.152 34.3438H209.961L200.176 54.0809Z" fill="#E1F7FC"/>
          <path d="M147.699 59.8026L156.123 54.082H200.262L208.537 59.8271L179.382 90.2929L147.699 59.8026Z" fill="#0155A6"/>
          <path d="M10.2266 248.042L79.6524 57.1289L110.188 118.976L102.013 304.902L10.2266 248.042Z" fill="#003153"/>
          <path d="M345.945 248.982L276.519 57.1289L246.189 119.17L254.162 305.189L345.945 248.982Z" fill="#9BD4F0"/>
          <path d="M178.148 352.969L102.008 304.899L109.888 119.117L178.182 141.467L178.148 352.969Z" fill="#076AAF"/>
          <path d="M178.144 352.972L254.164 305.186L246.283 119.117L178.144 141.467V352.972Z" fill="#69B7E1"/>
          <path d="M132.215 150.921L149.682 116.359H221.568L230.829 150.921H132.215Z" fill="#076AAF"/>
          <path d="M137.696 212.598L125.809 149.432L147.953 135.68L137.696 212.598Z" fill="#E1F7FC"/>
          <path d="M221.777 212.598L233.664 149.432L211.52 135.68L221.777 212.598Z" fill="#E1F7FC"/>
          <path d="M92.9492 124.136L97.6016 94.1434L147.696 59.8008L179.378 90.284V122.727L120.262 158.119L100.002 143.629L92.9492 124.136Z" fill="#0E86D4"/>
          <path d="M265.809 124.135L258.714 93.8151L208.519 59.8164L179.38 90.2822V122.725L238.495 158.117L258.756 143.627L265.809 124.135Z" fill="#71C8FB"/>
          <circle cx="122.372" cy="49.0084" r="8.11782" fill="#042A69"/>
          <circle cx="233.844" cy="49.0084" r="8.11782" fill="#042A69"/>
        </svg>


      <h2 class="page-title">Sign in</h2>

      <span class="w-full text-sm text-tertiary">
        Login to <%= Rails.configuration.x.app_name %> with Github Now
      </span>
    </div>

    <%- if devise_mapping.omniauthable? %>

      <div class='flex flex-col w-full mt-8'>
        <template class="js-desktop-template">
          <input class="js-redirect-uri" type="hidden" name="redirect_uri" value="<%= user_desktop_omniauth_callback_url %>">
        </template>
        <%= form_tag omniauth_authorize_path(resource_name, :github), class: "js-github-oauth2" do %>
          <button type="submit" class="btn btn-secondary">
            <svg width="20" height="20" aria-hidden="true" viewBox="0 0 24 24" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
              <path d="M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.193 10.193 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11Z"></path>
            </svg>
            <span>Continue with Github</span>
          </button>
        <% end %>
      </div>
    <% end %>

    <div class="divider">
      <span class="divider-label">or</span>
    </div>

    <%= form_for(resource, as: resource_name, url: user_session_path, html: { class: "w-full space-y-5" }) do |f| %>
      <%= render "users/shared/errors", resource: resource %>

      <div class="form-group">
        <%= f.label(:email) %>
        <%= f.email_field(:email, autofocus: true, autocomplete: "email", required: true) %>
      </div>

      <div class="form-group">
        <%= f.label(:password) %>
        <%= f.password_field(:password, autocomplete: "current-password", required: true, value: resource.password) %>
      </div>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm text-tertiary hover:text-primary inline-flex" %>
      <% end %>

      <%= f.button("Sign in", class: "btn btn-primary") %>
    <% end %>

  </div>
</main>
